body,h1,h2,p{
    margin:0;
    font-family:'Roboto',sans-serif;
    
}
.maindiv{
    background-color:#f0f2f5;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    padding-bottom:50px;
    
}
#logo{
    font-size:56px;
    color:#0b66ff;
     /* //top right bottom left */
    padding:20px 0px;   

  
}
.signup-form{
    background-color:#fff;
    width:430px;
    border-radius:8px;
}
.form-heading{
   text-align:center;
   padding:10px;
   border-bottom:1px solid #ccc;
   
}
h2{
    padding-bottom:5px;



}
.input-fields{
    padding:15px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    
}
input, select{
    padding:8px;
    border:1px solid #ccc;
    border-radius:5px;
    width:100%;
    margin-bottom:10px;
    font-size:15px;



}
.half-width{
    display:flex;
    width:48%;
     
}
.full-width{
    width:100%;

}
label{
    font-size:12px;
    color:#606770;
    padding-bottom:10px;

}
.quat-width{
    width:31%;
    display:flex;
}
.dob-div{
    display:flex;
    width:100%;
    justify-content:space-between;


}
.radio-btn{
    border:1px solid #ccc;
    border-radius:5px;
    width:100%;
    padding:8px;
    display:flex;
    justify-content:space-between;


}
.radio-label{
    padding-bottom:0;
    font-size:15px;
}
.radio-input{
    margin:0;
    width:inherit;
    width:auto;

}
small{
    font-size:11px;
    color:#777;
    padding-top:10px;
    font-size:11.75px;

}
a{
    text-decoration:none;

}
.signup-btn{
    border:0;
    background-color:#00a400;
    color:#fff;
    padding:8px 55px;
    border-radius:5px;
    font-size:18px;
    font-weight:500;
    

}
.button-div{
    padding:15px 0;
    display:flex;
    justify-content:center;
    width:100%;
    
}
.account-div{
    justify-content:center;
    width:100%;
    display:flex;
    padding-bottom:15px;
    padding-top:8px;
    

}